
target/classes/META-INF/maven/com.my.mydrools/com.my.mydrools/pom.xml
target/classes/META-INF/maven/com.my.mydrools/com.my.mydrools/pom.xml
target/classes/META-INF/maven/com.my.mydrools/com.my.mydrools/pom.properties
target/classes/META-INF/MANIFEST.MF
.classpath
